<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pusilkom.hris.model.mapper.AuthItemMapper">
    <resultMap id="AuthItemDetailResultMap" type="com.pusilkom.hris.dto.view.AuthItemDetail">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="user_create" jdbcType="VARCHAR" property="userUpdate"/>
        <result column="user_update" jdbcType="VARCHAR" property="userUpdate"/>
        <result column="timestamp_create" jdbcType="VARCHAR" property="timestampCreate"/>
        <result column="timestamp_update" jdbcType="VARCHAR" property="timestampUpdate"/>
    </resultMap>
    <resultMap id="AuthItemItemResultMap" type="com.pusilkom.hris.dto.table.AuthItemItem">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>

    <sql id="Main_Query">
        SELECT * FROM auth_item
    </sql>

    <sql id="Criteria_Where_Clause">
        <where>
            <if test="searchForm.name != ''">
                AND UPPER(name) LIKE '%' || UPPER(#{searchForm.name}) || '%'
            </if>
            <if test="searchForm.type != null">
                AND type = #{searchForm.type}
            </if>
            <if test="searchForm.description != null">
                AND UPPER(description) LIKE '%' || UPPER(#{searchForm.description}) || '%'
            </if>
        </where>

        ${searchForm.orderQuery}
    </sql>

    <select id="getListAuthItemItemBySearchForm" resultMap="AuthItemItemResultMap" parameterType="map">

        <include refid="Main_Query"/>
        <include refid="Criteria_Where_Clause"/>

        OFFSET #{searchForm.criterias.start} LIMIT #{searchForm.criterias.length}
    </select>

    <select id="getTotalAuthItemItemBySearchForm" resultType="java.lang.Long" parameterType="map">
        SELECT COUNT(*) FROM
        (
        <include refid="Main_Query"/>
        <include refid="Criteria_Where_Clause"/>
        ) as foo
    </select>

    <insert id="insertWithTimestamp" parameterType="com.pusilkom.hris.model.AuthItem" useGeneratedKeys="true" keyProperty="id">
        <!--
          WARNING - @mbg.generated
          This element is automatically generated by MyBatis Generator, do not modify.
        -->
        insert into auth_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="userCreate != null">
                user_create,
            </if>
                timestamp_create,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="userCreate != null">
                #{userCreate,jdbcType=VARCHAR},
            </if>
            CURRENT_TIMESTAMP
        </trim>
    </insert>
    <update id="updateWithTimestamp" parameterType="com.pusilkom.hris.model.AuthItem">
        UPDATE auth_item
        <set>
            <trim suffixOverrides=",">
                <if test="name != null">
                    name = #{name,jdbcType=VARCHAR},
                </if>
                <if test="type != null">
                    type = #{type,jdbcType=INTEGER},
                </if>
                <if test="description != null">
                    description = #{description,jdbcType=VARCHAR},
                </if>
                <if test="userCreate != null">
                    user_create = #{userCreate,jdbcType=VARCHAR},
                </if>
                timestamp_update = CURRENT_TIMESTAMP,
            </trim>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>


</mapper>