<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: header-title"></head>
<body>
    <div th:replace="fragments/fragment :: navbar"></div>
    <div th:replace="fragments/fragment :: sidebar"></div>

    <main id="content-isi" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 pb-3">
        <div class="d-flex flex-row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="roboto breadcrumb-item active" aria-current="page"><a href="/karyawan" >Beranda</a></li>
                    <li class="roboto breadcrumb-item active" aria-current="page"><a href="/karyawan/penugasan">Riwayat Penugasan</a></li>
                    <li class="roboto breadcrumb-item active" aria-current="page">Detail Penugasan</li>
                </ol>
            </nav>
            <h2 class="ml-auto roboto" th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy')}"></h2>
        </div>

        <div th:if="${notification != null}" class="d-flex flex-row mb-3 col-md-12">
            <h3 th:text="${notification}" class="text-primary montserrat-small-bold alert alert-success"></h3>
        </div>

        <div>
            <br/>
            <div class="row">
            <div class="col-sm-9">
                <h2 class="montserrat-med-bold" th:text="${detailPenugasan.namaProyek}"></h2><br/>
            </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <h6 class="montserrat-small-bold">Periode Penugasan:</h6>
                    <p class="montserrat-small" th:text="${detailPenugasan.getPeriode()}"></p>
                </div>
                <div class="col-sm-3">
                    <h6 class="montserrat-small-bold">Role Anda:</h6>
                    <p class="montserrat-small" th:text="${detailPenugasan.role}"></p>
                </div>
                <div class="col-sm-3">
                    <h6 class="montserrat-small-bold">Status Proyek:</h6>
                    <p class="montserrat-small" th:text="${detailPenugasan.statusProyek}"></p>
                </div>
                <div class="col-sm-3">
                    <h6 class="montserrat-small-bold">Persentase Kontribusi:</h6>
                    <p class="montserrat-small" th:text="${detailPenugasan.persentase + '%'}"></p>
                </div>
            </div><br/>

            <div class="row">
                <div class="col-sm-3">
                    <h6 class="montserrat-small-bold">Pimpinan Proyek:</h6>
                    <p class="montserrat-small" th:text="${detailPenugasan.teamLead}"></p>
                </div>
                <div class="col-sm-3">
                    <h6 class="montserrat-small-bold">Nama Klien:</h6>
                    <p class="montserrat-small" th:text="${detailPenugasan.namaKlien}"></p>
                </div>
                <div class="col-sm-3">
                    <h6 class="montserrat-small-bold">Penugasan Dimulai:</h6>
                    <p class="montserrat-small" th:text="${detailPenugasan.startPeriode.month + ' ' + detailPenugasan.startPeriode.year}"></p>
                </div>
                <div class="col-sm-3">
                    <h6 class="montserrat-small-bold">Penugasan Berakhir:</h6>
                    <p class="montserrat-small" th:if="${detailPenugasan.endPeriode != null}" th:text="${detailPenugasan.endPeriode.month + ' ' + detailPenugasan.endPeriode.year}"></p>
                    <p class="montserrat-small" th:if="${detailPenugasan.endPeriode == null}" th:text="Sekarang"></p>
                </div>
            </div><br/><hr/>
        </div>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active montserrat-small-bold" id="nav-penilaian-mandiri-tab" data-toggle="tab" href="#evaluasi-diri" role="tab" aria-controls="nav-penilaian-mandiri" aria-selected="true">Evaluasi Diri</a>
                <a class="nav-item nav-link montserrat-small-bold" id="nav-feedback-tab" data-toggle="tab" href="#feedback-rekan" role="tab" aria-controls="nav-feedback" aria-selected="false">Feedback Karyawan</a>
            </div>
        </nav>

        <div class="tab-content">
          <div class="tab-pane fade show active" id="evaluasi-diri" role="tabpanel" aria-labelledby="nav-penilaian-mandiri-tab">
              <table id="tabel-penilaian-mandiri" class="table table-hover montserrat-small">
                  <thead id="tabel-header" class="montserrat-small-bold">
                      <tr>
                          <th>Periode</th>
                          <th>Kontribusi</th>
                          <th>Evaluasi Diri</th>
                          <th>Status</th>
                          <th>Aksi</th>
                      </tr>
                  </thead>
                  <tbody class="montserrat-small">
                      <tr th:each="itemPenilaianMandiri, iterationStatus: ${rekapPenilaianMandiri}">
                          <td th:text="${itemPenilaianMandiri.periode.month + ' ' + itemPenilaianMandiri.periode.year}"></td>
                          <td th:text="${itemPenilaianMandiri.getPersentase()} + '%'"></td>
                          <td th:text="${itemPenilaianMandiri.penilaianMandiri}"></td>
                          <td th:text="${itemPenilaianMandiri.getStatusPenilaianMandiri()} == true ? 'Sudah Difinalisasi' : 'Belum Difinalisasi' "></td>
                          <td th:if="${itemPenilaianMandiri.getStatusPenilaianMandiri() == false and itemPenilaianMandiri.penilaianMandiri != null}">
                              <a class="btn-isi-evaluasi-karyawan montserrat-small pusil-btn btn btn-dark text-white btn-rounded" th:text="'Ubah'" th:attr="data-periode=${itemPenilaianMandiri.periode},data-rekap=${itemPenilaianMandiri.penilaianMandiri}, data-id=${itemPenilaianMandiri.id}, data-proyek=${itemPenilaianMandiri.idProyek}"></a></td>
                          <td th:if="${itemPenilaianMandiri.getStatusPenilaianMandiri() == false and itemPenilaianMandiri.penilaianMandiri == null}">
                              <a class="btn-isi-evaluasi-karyawan montserrat-small pusil-btn btn btn-dark text-white btn-rounded" th:text="'Tambah'" th:attr="data-periode=${itemPenilaianMandiri.periode}, data-id=${itemPenilaianMandiri.id}, data-proyek=${itemPenilaianMandiri.idProyek}"></a></td>
                      </tr>
                  </tbody>
              </table>
            </div>
            <div class="tab-pane fade" id="feedback-rekan" role="tabpanel" aria-labelledby="nav-feedback-tab">
                <hr>
                <div class="d-flex flex-row mb-2">
                    <div class="col text-center">
                        <h3 class="montserrat-med-bold" th:text="${periodeNow.month + ' ' + periodeNow.year}"></h3>
                    </div>
                </div>
                <div class="d-flex flex-row mb-5">
                    <div class="col text-left">
                        <a class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded"
                           th:href="@{'/assignment/karyawan/rekanseproyek'(periode=${prevPeriode.month + ' ' + prevPeriode.year})}"
                           th:text="${prevPeriode.month + ' ' + prevPeriode.year}" href="">
                        </a>
                    </div>
                    <div class="col text-center">
                        <div class="row">
                            <form action="#" th:action="@{/assignment/karyawan/rekanseproyek}" method="get">
                                <input name="periode" id="periode" class="date-picker" readonly="true" required/>
                                <input class="montserrat-small btn pusil-btn btn-dark text-white btn-rounded" type="submit" value="Pilih Periode" />
                            </form>
                        </div>
                    </div>
                    <div class="col text-right">
                        <div th:if="${offPeriode != null}">
                            <a class="montserrat-small btn btn-secondary text-white btn-rounded disabled"
                               th:href="@{'/assignment/karyawan/rekanseproyek'(periode=${nextPeriode.month + ' ' + nextPeriode.year})}"
                               th:text="${nextPeriode.month + ' ' + nextPeriode.year}" href="">
                            </a>
                        </div>
                        <div th:if="${offPeriode == null}">
                            <a class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded"
                               th:href="@{'/assignment/karyawan/rekanseproyek'(periode=${nextPeriode.month + ' ' + nextPeriode.year})}"
                               th:text="${nextPeriode.month + ' ' + nextPeriode.year}" href="">
                            </a>
                        </div>
                    </div>
                </div>

                <div>
                    <table id="rekan-seproyek" class="table table-hover mt-3">
                        <thead id="tabel-header-rekap">
                        <tr>
                            <th class="montserrat-small-bold" scope="col">Nama</th>
                            <th class="montserrat-small-bold" scope="col">Kode Proyek</th>
                            <th class="montserrat-small-bold" scope="col">Role di Proyek</th>
                            <th class="montserrat-small-bold" scope="col">Nilai (1-100)</th>
                            <th class="montserrat-small-bold" scope="col">Feedback</th>
                            <th class="montserrat-small-bold" scope="col">Aksi</th>
                        </tr>
                        </thead>
                        <tbody>
                        <div th:each="rekan,iterationStatus: ${rekans}">
                            <div th:if="${rekan.kodeProyek.equals(detailPenugasan.kodeProyek)}">
                                <tr>
                                    <td class="montserrat-small" th:text="${rekan.namaRekan}"></td>
                                    <td class="montserrat-small" th:text="${rekan.kodeProyek}"></td>
                                    <td class="montserrat-small" th:text="${rekan.roleRekan}"></td>
                                    <td>
                                        <div th:if="${rekan.ratingRekan == 0}">
                                            <img class="d-inline icon-sidebar mr-2" src="/img/black-star.png">
                                            <p class="d-inline montserrat-small text-muted" th:text="${rekan.ratingRekan}"></p>
                                        </div>
                                        <div th:if="${rekan.ratingRekan > 0 && rekan.ratingRekan <= 60}">
                                            <img class="d-inline icon-sidebar mr-2" src="/img/bronze-star.png">
                                            <p class="d-inline montserrat-small text-muted" th:text="${rekan.ratingRekan}"></p>
                                        </div>
                                        <div th:if="${rekan.ratingRekan >= 61 && rekan.ratingRekan <= 80}">
                                            <img class="d-inline icon-sidebar mr-2" src="/img/silver-star.png">
                                            <p class="d-inline montserrat-small text-muted" th:text="${rekan.ratingRekan}"></p>
                                        </div>
                                        <div th:if="${rekan.ratingRekan >= 81 && rekan.ratingRekan <= 100}">
                                            <img class="d-inline icon-sidebar mr-2" src="/img/gold-star.png">
                                            <p class="d-inline montserrat-small text-muted" th:text="${rekan.ratingRekan}"></p>
                                        </div>

                                    </td>
                                    <td class="montserrat-small text-muted" th:text="${rekan.feedback}"></td>
                                    <td>
                                        <div th:if="${noFeedback == null}">
                                            <div th:if="${periodeOut != null}">
                                                <button type="button" data-toggle="modal"
                                                        class="montserrat-small btn btn-secondary text-white btn-rounded disabled">Ubah</button>
                                            </div>
                                            <div th:if="${periodeOut == null}">
                                                <button type="button" data-toggle="modal" data-target="#feedbackModal" data-title="Masukan Feedback dan Nilai Rekan"
                                                        th:attr="data-feedback=${rekan.feedback},data-rating=${rekan.ratingRekan}, data-namaRekan=${rekan.namaRekan}, data-idRekan=${rekan.idRekan}
                                    ,data-kodeProyek=${rekan.kodeProyek}" class="modal-button montserrat-small pusil-btn btn btn-dark text-white btn-rounded">Ubah</button>
                                            </div>
                                        </div>
                                        <div th:if="${noFeedback != null}">
                                            <div th:if="${periodeOut != null}">
                                                <button type="button" data-toggle="modal"
                                                        class="montserrat-small btn btn-secondary text-white btn-rounded disabled">Tambah</button>
                                            </div>
                                            <div th:if="${periodeOut == null}">
                                                <button type="button" data-toggle="modal" data-target="#feedbackModal" data-title="Masukan Feedback dan Nilai Rekan"
                                                        th:attr="data-feedback=${rekan.feedback},data-rating=${rekan.ratingRekan}, data-namaRekan=${rekan.namaRekan}, data-idRekan=${rekan.idRekan}
                                    ,data-kodeProyek=${rekan.kodeProyek}" class="modal-button montserrat-small pusil-btn btn btn-dark text-white btn-rounded">Tambah</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </div>
                        </div>
                        <div th:if="${rekansNoFeedback != null}" th:each="rekanNo,iterationStatus: ${rekansNoFeedback}">
                            <div th:if="${rekanNo.kodeProyek.equals(detailPenugasan.kodeProyek)}">
                                <tr>
                                    <td class="montserrat-small" th:text="${rekanNo.namaRekan}"></td>
                                    <td class="montserrat-small" th:text="${rekanNo.kodeProyek}"></td>
                                    <td class="montserrat-small" th:text="${rekanNo.roleRekan}"></td>
                                    <td>
                                        <img class="d-inline icon-sidebar mr-2" src="/img/black-star.png">
                                        <p class="d-inline montserrat-small text-muted">0</p>
                                    </td>
                                    <td class="montserrat-small text-muted">Belum Memberikan Feedback</td>
                                    <td>
                                        <div th:if="${periodeOut == null}">
                                            <button type="button" data-toggle="modal" data-target="#feedbackModal" data-title="Masukan Feedback dan Nilai Rekan"
                                                    th:attr="data-feedback=${rekanNo.feedback},data-rating=${rekanNo.ratingRekan}, data-namaRekan=${rekanNo.namaRekan}, data-idRekan=${rekanNo.idRekan}
                                        ,data-kodeProyek=${rekanNo.kodeProyek}" class="modal-button montserrat-small pusil-btn btn btn-dark text-white btn-rounded">Tambah</button>
                                        </div>
                                        <div th:if="${periodeOut != null}">
                                            <button type="button" data-toggle="modal"
                                                    class="montserrat-small btn btn-secondary text-white btn-rounded disabled">Tambah</button>
                                        </div>
                                    </td>
                                </tr>
                            </div>
                        </div>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal fade" id="feedbackModal" tabindex="-1" role="dialog" aria-labelledby="feedbackModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title montserrat-med-bold" id="feedbackModalLabel">Masukkan Feedback untuk Rekan Anda</h5>
                    </div>
                    <div class="modal-body">
                        <form action="#" th:action="@{/assignment/karyawan/rekanseproyek/feedback}" method="get">
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-10">
                                        <label for="namaRekan" class="col-form-label montserrat-small">Nama Rekan</label>
                                        <input id="namaRekan" class="form-control" readonly="true" name="namaRekan"/>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-5">
                                        <label for="idRekan" class="col-form-label montserrat-small">ID Rekan</label>
                                        <input id="idRekan" class="form-control" readonly="true" name="idRekan"/>
                                    </div>
                                    <div class="col-md-5">
                                        <label for="kodeProyek" class="col-form-label montserrat-small">Kode Proyek</label>
                                        <input id="kodeProyek" class="form-control" readonly="true" name="kodeProyek"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="feedback" class="col-form-label montserrat-small">Feedback</label>
                                <textarea type="text" class="form-control" id="feedback" name="feedback" required></textarea>
                            </div>
                            <div class="form-group">
                                <label for="rating" class="col-form-label montserrat-small">Nilai 1 - 100</label>
                                <input id="rating" class="form-control" type="number" min="0" max="100" name="ratingRekan" required/>
                            </div>
                            <button type="button" class="montserrat-small pusil-btn-danger btn btn-danger text-white btn-rounded"
                                    data-dismiss="modal">Batal</button>
                            <button type="submit" class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded">
                                Simpan Penilaian</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div th:replace="fragments/fragment :: footer"></div>
</body>

<div class="modal fade" id="modal-isi-ubah-evaluasi-karyawan" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <form id="form-isi-evaluasi-karyawan" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="periode-penugasan" class="col-form-label">Periode Penugasan :</label>
                        <input type="text" class="form-control" id="periode-penugasan" disabled/>
                    </div>
                    <div class="form-group">
                            <label for="deadline-pengisian" class="col-form-label">Deadline Pengisian :</label>
                            <input type="text" class="form-control" id="deadline-pengisian" disabled/>
                        </div>
                    <div class="form-group">
                        <label for="isi-evaluasi" class="col-form-label">Konten Evaluasi Diri :</label>
                        <textarea class="form-control" id="isi-evaluasi" name="isi-evaluasi"></textarea>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="submit" class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded">Simpan Evaluasi</button>
                <button type="button" class="montserrat-small btn btn-dark btn-rounded" data-dismiss="modal">Close</button>
            </div>
            </form>
        </div>
    </div>
</div>

</html>