<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<head th:replace="fragments/fragment :: header-title"></head>

<body>
    <div th:replace="fragments/fragment :: navbar"></div>
    <div th:replace="fragments/fragment :: sidebar"></div>

    <main id="content-isi" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 pb-3">
        <div class="d-flex flex-row mb-5">
            <h2 class="ml-auto roboto" th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy')}"></h2>
        </div>
        <h1 th:text="${karyawan.getNamaLengkap()} + ' (' + ${karyawan.getNamaPanggilan()} + ')'">Nama Lengkap Karyawan (Nama Penggilan)</h1>
        <h3 th:text="${karyawan.getNip()}">NIP</h3>
        <br/>
        <div class="row">
            <div class="col-6 row">
                <h6 class="col-md-4">E-Mail Pusilkom</h6>
                <h6 class="col-md-0">:</h6>
                <h6 class="col-md" th:text="${karyawan.getEmailPusilkom()}"> EMAIL PUSILKOM</h6>
            </div>
            <div class="col"></div>
            <div class="col">
                <h5 th:text="'DIVISI : ' + ${divisi.getNama()}">Divisi</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-6 row">
                <h6 class="col-md-4">E-Mail Pribadi</h6>
                <h6 class="col-md-0">:</h6>
                <h6 class="col-md" th:text="${karyawan.getEmailPribadi()}"> EMAIL PRIBADI</h6>
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>

        <br/>
        <br/>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active montserrat-small-bold" id="nav-data-diri-tab" data-toggle="tab" href="#nav-data-diri"
                    role="tab" aria-controls="nav-data-diri" aria-selected="true">Data Diri</a>
                <a class="nav-item nav-link montserrat-small-bold" id="nav-data-pendidikan-tab" data-toggle="tab" href="#nav-data-pendidikan"
                    role="tab" aria-controls="nav-data-pendidikan" aria-selected="false">Data Pendidikan</a>
                <a class="nav-item nav-link montserrat-small-bold" id="nav-data-darurat-tab" data-toggle="tab" href="#nav-data-darurat" role="tab"
                    aria-controls="nav-data-darurat" aria-selected="false">Data Darurat</a>
                <a class="nav-item nav-link montserrat-small-bold" id="nav-data-keluarga-tab" data-toggle="tab" href="#nav-data-keluarga"
                    role="tab" aria-controls="nav-data-keluarga" aria-selected="false">Data Keluarga</a>
                <a class="nav-item nav-link montserrat-small-bold" id="nav-data-gaji-tab" data-toggle="tab" href="#nav-data-gaji" role="tab"
                    aria-controls="nav-data-gaji" aria-selected="false">Data Gaji</a>
                <a class="nav-item nav-link montserrat-small-bold" id="nav-data-benefit-tab" data-toggle="tab" href="#nav-data-benefit" role="tab"
                    aria-controls="nav-data-benefit" aria-selected="false">Data Benefit</a>
                <a class="nav-item nav-link montserrat-small-bold" id="nav-data-kontrak-tab" data-toggle="tab" href="#nav-data-kontrak" role="tab"
                    aria-controls="nav-data-kontrak" aria-selected="false">Data Kontrak</a>
            </div>
        </nav>

        <br/>
        <br/>

        <div class="tab-content container" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-data-diri" role="tabpanel" aria-labelledby="nav-data-diri">
                <h1 th:if="${!isEmployeeSelected && !isHR}" class="alert alert-danger"> You Cannot View This Content</h1>
                <form th:if="${isEmployeeSelected || isHR}" class="form-horizontal" th:action="'/employee/detail-karyawan/' + ${karyawan.getIdKaryawan()} + '/insert-data-diri'"
                    th:object="${dataDiri}" method="POST">

                    <div class="form-row mb-3">
                        <div class="form-group col mr-2">
                            <label class="roboto">Tempat Lahir</label>
                            <input type="text" class="form-control form-rounded" th:field="*{tempatLahir}" name="tempatLahir" required />
                        </div>
                        <div class="form-group col">

                            <label class="roboto">Tanggal Lahir</label>
                            <input type="date" class="form-control form-rounded" th:field="*{tanggalLahir}" name="tanggalLahir" required />
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="form-group col mr-2">
                            <label class="roboto">Nomor HP</label>
                            <input type="text" class="form-control form-rounded" th:field="*{noHp}" name="noHp" required />
                        </div>
                        <div class="form-group col"></div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="form-group col mr-2">
                            <label class="roboto">Nomor KTP</label>
                            <input type="text" class="form-control form-rounded" th:field="*{nomorKtp}" name="noKtp" required />
                        </div>
                        <div class="form-group col">

                            <label class="roboto">NPWP</label>
                            <input type="text" class="form-control form-rounded" th:field="*{npwp}" name="npwp" required />
                        </div>
                    </div>
                    <div class="form-row mb-1">

                        <div class="form-group col mr-2">
                            <label class="roboto">Alamat Tinggal</label>
                            <textarea class="form-control form-rounded" name="alamat" th:field="*{alamatTinggal}" rows="5"></textarea>
                        </div>

                    </div>

                    <div class="form-row mb-1">
                        <div class="form-group col mt-2 ">
                            <label></label>
                            <div class="row">
                                <div class="col-sm-3">
                                    <button class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded" type="submit">Update Data Diri</button>
                                </div>
                                <div class="col-sm-9"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane fade show" id="nav-data-pendidikan" role="tabpanel" aria-labelledby="nav-data-pendidikan">
                <h1 th:if="${!isEmployeeSelected && !isHR}" class="alert alert-danger"> You Cannot View This Content</h1>
                <!-- gunakan th:if="${isEmployeeSelected || isHR}" untuk menampilkan -->
            </div>

            <div class="tab-pane fade show" id="nav-data-darurat" role="tabpanel" aria-labelledby="nav-data-darurat">
                <h1 th:if="${!isEmployeeSelected && !isHR}" class="alert alert-danger"> You Cannot View This Content</h1>
                <!-- gunakan th:if="${isEmployeeSelected || isHR}" untuk menampilkan -->

            </div>

            <div class="tab-pane fade show" id="nav-data-keluarga" role="tabpanel" aria-labelledby="nav-data-keluarga">
                <h1 th:if="${!isEmployeeSelected && !isHR}" class="alert alert-danger"> You Cannot View This Content</h1>
                <!-- gunakan th:if="${isEmployeeSelected || isHR}" untuk menampilkan -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-tambah-keluarga"><i class="fas fa-plus" style="font-size: 15px;"></i> Tambah Anggota Keluarga
                </button>

                <table class="table table-hover mt-3">
                    <thead style="background-color: #FFCF25;">
                    <tr>
                        <th class="montserrat-small-bold" scope="col" >No.</th>
                        <th class="montserrat-small-bold" scope="col" >Hubungan</th>
                        <th class="montserrat-small-bold" scope="col" >Nama</th>
                        <th class="montserrat-small-bold" scope="col" >NIK</th>
                        <th class="montserrat-small-bold" scope="col" >Tanggal Lahir</th>
                        <th class="montserrat-small-bold" scope="col">Aksi</th>
                    </tr>
                    </thead>
                    <tbody>
                    <div th:each="keluarga,iterationStatus: ${keluarga}">
                        <tr>
                            <td class="montserrat-small" scope="row" th:text="${iterationStatus.count}" width="1%"></td>
                            <td class="montserrat-small" th:text="${keluarga.hubungan}" width="15%"></td>
                            <td class="montserrat-small" th:text="${keluarga.nama}" width="25%"></td>
                            <td class="montserrat-small" th:text="${keluarga.nik}" width="25%"></td>
                            <td class="montserrat-small" th:text="${keluarga.tanggalLahir}" width="19%"></td>
                            <td width="15%">
                                <a data-toggle="modal" data-target="#modal-ubah-anggota-keluarga" data-title="Ubah Anggota Keluarga"
                                   th:attr="data-id=${keluarga.id},data-idKaryawan=${keluarga.idKaryawan},data-hubungan=${keluarga.hubungan},data-nama=${keluarga.nama}, data-nik=${keluarga.nik}, data-tanggalLahir=${keluarga.tanggalLahir}
                                    " th:title="Ubah" class="btn-ubah-anggota-keluarga d-inline pusil-btn btn btn-dark montserrat-small text-white btn-rounded" style="padding: 5px 10px;"  ><i class="fas fa-pencil-alt" style="font-size: 15px;"></i></a>


                                <a data-toggle="tooltip"  data-placement="bottom"th th:title="Hapus" th:href="'/employee/detail-karyawan/hapus/'+ ${keluarga.idKaryawan} + '/' + ${keluarga.id}" class="btn btn-danger montserrat-small text-white btn-rounded" style="padding: 5px 10px;"><i class="fas fa-trash-alt" style="font-size: 15px;"></i></a>
                            </td>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </div>

            <div class="modal fade" id="modal-tambah-keluarga">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Tambah Anggota Keluarga</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <form  th:action="'/employee/detail-karyawan/' + ${karyawan.getIdKaryawan()}  + '/insert-keluarga'"  method="POST">
                            <div class="form-body">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label class="col-form-label">Hubungan :</label>
                                        <input type="text" class="form-control"  name="hubungan" required />
                                    </div>
                                    <div class="form-group">
                                        <label  class="col-form-label">Nama :</label>
                                        <input type="text" class="form-control"  name="nama"   required />
                                    </div>
                                    <div class="form-group">
                                        <label  class="col-form-label">NIK :</label>
                                        <input type="number" class="form-control"  name="nik"  required />
                                    </div>
                                    <div class="form-group">
                                        <label  class="col-form-label">Tanggal Lahir :</label>
                                        <input type="date" class="form-control"  name="tanggalLahir"  required />
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded">Tambah Anggota Keluarga</button>
                                <button type="button" class="montserrat-small btn btn-dark btn-rounded" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="tab-pane fade show" id="nav-data-gaji" role="tabpanel" aria-labelledby="nav-data-gaji">
                <h1 th:if="${!isEmployeeSelected && !isHR}" class="alert alert-danger"> You Cannot View This Content</h1>
                <button th:if="${isHR}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-tambah-gaji">
                    + Ubah Gaji
                </button>
                <h2 class="text-center montserrat-bold-big">List Riwayat Gaji</h2>
                <div th:if="${isEmployeeSelected || isHR}">
                    <table class="table table-hover">
                        <thead class="tabel-header">
                        <tr>
                            <th class="montserrat-small-bold text-center" scope="col">No.</th>
                            <th class="montserrat-small-bold text-center" scope="col">Tanggal Aktif</th>
                            <th class="montserrat-small-bold text-center" scope="col">Nilai Gaji</th>
                            <th th:if="${isHR}" class="montserrat-small-bold text-center" scope="col">Action</th>
                        </tr>
                        </thead>
                        <!-- th:each="karyawanCuti, iterationStatus: ${listOfKaryawanCuti}" -->
                        <div th:each="riwayatGaji, iterationStatus: ${listRiwayatGaji}">
                            <tr>
                                <td class="text-center">
                                    <p class="d-inline montserrat-small text-muted" th:text="${iterationStatus.count}">No</p>
                                </td>
                                <td class="text-center">
                                    <p class="d-inline montserrat-small text-muted" th:text="${riwayatGaji.tanggalAktif}">Tanggal Aktif</p>
                                </td>
                                <td class="text-center">
                                    <p class="d-inline montserrat-small text-muted" th:text="${riwayatGaji.nilaiGaji}">Nilai Gaji</p>
                                </td>
                                <td class="text-center" th:if="${isHR}">
                                    <button class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded btn-update-gaji" th:attr="data-idGaji=${riwayatGaji.id},data-idKaryawan=${karyawan.getIdKaryawan()}, data-gaji=${riwayatGaji.nilaiGaji}">Ubah</button>
                                    <button class="montserrat-small btn btn-dark text-white btn-rounded btn-delete-gaji" th:attr="data-idGaji=${riwayatGaji.id},data-idKaryawan=${karyawan.getIdKaryawan()}">Delete</button>
                                </td>
                            </tr>
                        </div>
                    </table>
                </div>
                <!-- gunakan boolean isHR agar disabled -->
            </div>

            <div class="tab-pane fade show" id="nav-data-benefit" role="tabpanel" aria-labelledby="nav-data-benefit">
                <h1 th:if="${!isEmployeeSelected && !isHR}" class="alert alert-danger"> You Cannot View This Content</h1>
                <!-- gunakan th:if="${isEmployeeSelected || isHR}" untuk menampilkan -->
                <!-- gunakan boolean isHR agar disabled -->
                <button id="btn-tambah-benefit" class="btn btn-primary" data-toggle="modal" data-target="#modal-tambah-benefit">
                    Tambah Benefit +
                </button>
                <h2 class="text-center montserrat-bold-big">Benefit Karyawan</h2>
                <div th:if="${listBenefit == null}">
                    <h4 class="text-center" th:text="'Karyawan ' + ${karyawan.getNamaPanggilan()} + ' tidak mempunyai benefit'"></h4>
                </div>
                <div th:if="${listBenefit!=null}">
                    <table class="table-mpp table table-hover">
                        <thead>
                            <tr>
                                <th style="background-color: #FFCF26;" class="montserrat-small-bold text-center">Nama Benefit</th>
                                <th style="background-color: #FFCF26;" class="montserrat-small-bold text-center">Keterangan</th>
                                <div th:if="${!isHR}">
                                    <th style="background-color: #FFCF26;" class="montserrat-small-bold text-center">Aksi</th>
                                </div>
                            </tr>
                        </thead>
                        <tbody>
                            <div th:each="benefit,iterationStatus:${listBenefit}" class="list-group list-group-flush">
                                <tr>
                                    <td th:text="${benefit.getNamaBenefit()}" class="montserrat-small"></td>
                                    <td th:text="${benefit.getKeteranganBenefit()}" class="montserrat-small text-center"></td>
                                    <div th:if="${!isHR}">
                                        <td class="montserrat-small text-center">
                                            <button class="btn-edit-benefit montserrat-small pusil-btn btn btn-primary text-white btn-rounded"
                                                th:attr="data-idbenefit=${benefit.getId()}, data-idkaryawan=${karyawan.getIdKaryawan()}, data-benefit=${benefit.getNamaBenefit()}, data-keterangan=${benefit.getKeteranganBenefit()}">Edit</button>
                                            <button class="btn-hapus-benefit montserrat-small pusil-btn-danger btn btn-danger text-white btn-rounded"
                                                th:attr="data-idbenefit=${benefit.getId()}, data-idkaryawan=${karyawan.getIdKaryawan()}">Hapus</button>
                                        </td>
                                    </div>
                                </tr>
                            </div>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane fade show" id="nav-data-kontrak" role="tabpanel" aria-labelledby="nav-data-kontrak">
                <h1 th:if="${!isEmployeeSelected && !isHR}" class="alert alert-danger"> You Cannot View This Content</h1>
                <!-- gunakan th:if="${isEmployeeSelected || isHR}" untuk menampilkan -->
                <!-- gunakan boolean isHR agar disabled -->
                <input type="text" name="" id="" th:disabled="${!isHR}">
            </div>
        </div>
    </main>
    <div class="modal fade" id="modal-tambah-gaji">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Ubah Gaji</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <form id="form-tambah-gaji" th:action="'/employee/detail-karyawan/' + ${karyawan.getIdKaryawan()} + '/insert-gaji'" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="gaji" class="col-form-label">Gaji :</label>
                            <input type="number" class="form-control" id="gaji" name="gaji" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded">Tambah Gaji</button>
                        <button type="button" class="montserrat-small btn btn-dark btn-rounded" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-update-gaji">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Ubah Gaji</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <form id="form-update-gaji" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="gaji" class="col-form-label">Gaji :</label>
                            <input type="number" class="form-control" id="input-gaji" name="gaji" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded">Update Gaji</button>
                        <button type="button" class="montserrat-small btn btn-dark btn-rounded" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-delete-gaji">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Delete Gaji</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <form id="form-delete-gaji" method="GET">
                    <div class="modal-body">
                        <div class="form-group">
                            <h5>Apakah anda yakin untuk menghapus riwayat gaji ini?</h5>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded">Delete Gaji</button>
                        <button type="button" class="montserrat-small btn btn-dark btn-rounded" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal untuk tambah benefit-->
    <div class="modal fade" id="modal-tambah-benefit">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Tambah Benefit</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <form id="form-tambah-benefit" th:action="'/employee/detail-karyawan/' + ${karyawan.getIdKaryawan()} + '/tambah-benefit/'" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="namaBenefitBaru" class="col-form-label">Nama Benefit :</label>
                            <input type="text" class="form-control" id="namaBenefitBaru" name="namaBenefitBaru"/>
                        </div>
                        <div class="form-group">
                            <label for="keteranganBenefitBaru" class="col-form-label">Keterangan Benefit :</label>
                            <textarea class="form-control" id="keteranganBenefitBaru" name="keteranganBenefitBaru"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded">Tambah Benefit</button>
                        <button type="button" class="montserrat-small btn btn-dark btn-rounded" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal untuk edit benefit-->
    <div class="modal fade" id="modal-edit-benefit">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Ubah Keterangan</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <form id="form-edit-benefit" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="namaBenefit" class="col-form-label">Nama Benefit :</label>
                            <input type="text" class="form-control" id="namaBenefit" name="namaBenefit" disabled/>
                        </div>
                        <div class="form-group">
                            <label for="keteranganBenefit" class="col-form-label">Keterangan Benefit :</label>
                            <textarea class="form-control" id="keteranganBenefit" name="keteranganBenefit"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded">Ubah Keterangan</button>
                        <button type="button" class="montserrat-small btn btn-dark btn-rounded" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Modal konfirmasi delete benefit-->
    <div class="modal fade" id="modal-hapus-benefit">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Hapus Benefit</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <h5>Apakah anda yakin ingin menghapus benefit?</h5>
                </div>
                <div class="modal-footer">
                    <a id="btn-konfirmasi-hapus-benefit" class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded">Hapus Benefit</a>
                    <button type="button" class="montserrat-small btn btn-dark btn-rounded" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>


<div class="modal fade" id="modal-ubah-anggota-keluarga" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="form-ubah-anggota-keluarga" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="hubungan" class="col-form-label">Hubungan :</label>
                        <input type="text" class="form-control" id="hubungan" name="hubungan"/>
                    </div>
                    <div class="form-group">
                        <label for="nama" class="col-form-label">Nama :</label>
                        <input type="text" class="form-control" id="nama" name="nama"/>
                    </div>
                    <div class="form-group">
                        <label for="nik" class="col-form-label">NIK :</label>
                        <input type="text" class="form-control" id="nik" name="nik"/>
                    </div>
                    <div class="form-group">
                        <label  class="col-form-label">Tanggal Lahir:</label>
                        <input  type="date" class="form-control" id="tanggal-lahir" name="tanggalLahir"/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded">Ubah</button>
                    <button type="button" class="montserrat-small btn btn-dark btn-rounded" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


</html>