<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
    crossorigin="anonymous">

<head th:replace="fragments/fragment :: header-title"></head>

<body>
    <div th:replace="fragments/fragment :: navbar"></div>
    <div th:replace="fragments/fragment :: sidebar"></div>

    <main id="content-isi" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 pb-3">
        <div class="d-flex flex-row mb-5">
            <h2 class="ml-auto roboto" th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy')}"></h2>
        </div>
        <h1 th:text="${karyawan.getNamaLengkap()} + ' (' + ${karyawan.getNamaPanggilan()} + ')'">Nama Lengkap Karyawan (Nama Penggilan)</h1>
        <h3 th:text="${karyawan.getNip()}">NIP</h3>
        <button th:if="${karyawan.isActive()}" class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded toogle-status-karyawan"
            data-status="aktif" th:attr="data-idKaryawan=${karyawan.getIdKaryawan()}" th:disabled="${!isHR}">Aktif</button>
        <button th:if="${!karyawan.isActive()}" class="montserrat-small btn btn-dark text-white btn-rounded toogle-status-karyawan"
            data-status="nonaktif" th:attr="data-idKaryawan=${karyawan.getIdKaryawan()}" th:disabled="${!isHR}">Tidak Aktif</button>
        <br/>
        <br/>
        <div class="row">
            <div class="col-6 row">
                <h6 class="col-md-4">E-Mail Pusilkom</h6>
                <h6 class="col-md-0">:</h6>
                <h6 class="col-md" th:text="${karyawan.getEmailPusilkom()}"> EMAIL PUSILKOM</h6>
            </div>
            <div class="col"></div>
            <div class="col">
                <h5 th:text="'DIVISI : ' + ${divisi.getNama()}">Divisi</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-6 row">
                <h6 class="col-md-4">E-Mail Pribadi</h6>
                <h6 class="col-md-0">:</h6>
                <h6 class="col-md" th:text="${karyawan.getEmailPribadi()}"> EMAIL PRIBADI</h6>
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>

        <br/>
        <br/>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active montserrat-small-bold" id="nav-data-diri-tab" data-toggle="tab" href="#nav-data-diri"
                    role="tab" aria-controls="nav-data-diri" aria-selected="true">Data Diri</a>
                <a class="nav-item nav-link montserrat-small-bold" id="nav-data-pendidikan-tab" data-toggle="tab" href="#nav-data-pendidikan"
                    role="tab" aria-controls="nav-data-pendidikan" aria-selected="false">Data Pendidikan</a>
                <a class="nav-item nav-link montserrat-small-bold" id="nav-data-darurat-tab" data-toggle="tab" href="#nav-data-darurat" role="tab"
                    aria-controls="nav-data-darurat" aria-selected="false">Data Darurat</a>
                <a class="nav-item nav-link montserrat-small-bold" id="nav-data-keluarga-tab" data-toggle="tab" href="#nav-data-keluarga"
                    role="tab" aria-controls="nav-data-keluarga" aria-selected="false">Data Keluarga</a>
                <a class="nav-item nav-link montserrat-small-bold" id="nav-data-gaji-tab" data-toggle="tab" href="#nav-data-gaji" role="tab"
                    aria-controls="nav-data-gaji" aria-selected="false">Data Gaji</a>
                <a class="nav-item nav-link montserrat-small-bold" id="nav-data-benefit-tab" data-toggle="tab" href="#nav-data-benefit" role="tab"
                    aria-controls="nav-data-benefit" aria-selected="false">Data Benefit</a>
                <a class="nav-item nav-link montserrat-small-bold" id="nav-data-kontrak-tab" data-toggle="tab" href="#nav-data-kontrak" role="tab"
                    aria-controls="nav-data-kontrak" aria-selected="false">Data Kontrak</a>
            </div>
        </nav>

        <br/>
        <br/>

        <div class="tab-content container" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-data-diri" role="tabpanel" aria-labelledby="nav-data-diri">
                <h1 th:if="${!isEmployeeSelected && !isHR}" class="alert alert-danger"> You Cannot View This Content</h1>
                <form th:if="${isEmployeeSelected || isHR}" class="form-horizontal" th:action="'/employee/detail-karyawan/' + ${karyawan.getIdKaryawan()} + '/insert-data-diri'"
                    th:object="${dataDiri}" method="POST">

                    <div class="form-row mb-3">
                        <div class="form-group col mr-2">
                            <label class="roboto">Tempat Lahir</label>
                            <input type="text" class="form-control form-rounded" th:field="*{tempatLahir}" name="tempatLahir" required />
                        </div>
                        <div class="form-group col">

                            <label class="roboto">Tanggal Lahir</label>
                            <input type="date" class="form-control form-rounded" th:field="*{tanggalLahir}" name="tanggalLahir" required />
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="form-group col mr-2">
                            <label class="roboto">Nomor HP</label>
                            <input type="text" class="form-control form-rounded" th:field="*{noHp}" name="noHp" required />
                        </div>
                        <div class="form-group col"></div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="form-group col mr-2">
                            <label class="roboto">Nomor KTP</label>
                            <input type="text" class="form-control form-rounded" th:field="*{nomorKtp}" name="noKtp" required />
                        </div>
                        <div class="form-group col">

                            <label class="roboto">NPWP</label>
                            <input type="text" class="form-control form-rounded" th:field="*{npwp}" name="npwp" required />
                        </div>
                    </div>
                    <div class="form-row mb-1">

                        <div class="form-group col mr-2">
                            <label class="roboto">Alamat Tinggal</label>
                            <textarea class="form-control form-rounded" name="alamat" th:field="*{alamatTinggal}" rows="5"></textarea>
                        </div>

                    </div>

                    <div class="form-row mb-1">
                        <div class="form-group col mt-2 ">
                            <label></label>
                            <div class="row">
                                <div class="col-sm-3">
                                    <button class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded" type="submit">Update Data Diri</button>
                                </div>
                                <div class="col-sm-9"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane fade show" id="nav-data-darurat" role="tabpanel" aria-labelledby="nav-data-darurat">
                <h1 th:if="${!isEmployeeSelected && !isHR}" class="alert alert-danger"> You Cannot View This Content</h1>
                <!-- gunakan th:if="${isEmployeeSelected || isHR}" untuk menampilkan -->
                <!-- gunakan boolean isHR agar disabled -->
                <div th:unless="${!isEmployeeSelected && !isHR}">
                    <div class="row">
                        <div class="col-3">
                            <h2 class="montserrat-bold-big">Daftar Kontak Darurat</h2>
                        </div>
                        <div class="col-6"></div>
                        <div class="col">
                            <button type="button" data-toggle="modal" data-target="#tambahKontakModal" class="pusil-btn btn btn-primary btn-rounded montserrat-small">+ Tambah Kontak</button>
                        </div>
                    </div>
                    <hr/>
                    <table th:if="${darurats != null && !darurats.isEmpty()}" id="list-darurat" class="table-mpp table table-hover">
                        <thead class="tabel-header">
                            <tr>
                                <th class="montserrat-small-bold text-center">Nama</th>
                                <th class="montserrat-small-bold text-center">Hubungan</th>
                                <th class="montserrat-small-bold text-center">Nomor Telepon</th>
                                <th class="montserrat-small-bold text-center">Aksi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="data,iterationStatus: ${darurats}">
                                <td class="text-center montserrat-small" th:text="${data.nama}"></td>
                                <td class="text-center montserrat-small" th:text="${data.hubungan}"></td>
                                <td class="text-center montserrat-small" th:text="${data.kontak}"></td>
                                <td class="text-center montserrat-small">
                                    <button type="button" data-toggle="modal" data-target="#ubahKontakModal" th:attr="data-nama-kontak=${data.nama}, data-hubungan-kontak=${data.hubungan},
                                        data-nomor-tlp=${data.kontak}, data-id-karyawan=${data.idKaryawan}, data-id=${data.id}"
                                        class="ubah-kontak-darurat pusil-btn btn btn-primary btn-rounded montserrat-small">Ubah</button>
                                    <button type="button" data-toggle="modal" data-target="#konfirmHapusDaruratModal" th:attr="data-id=${data.id}, data-id-kar=${data.idKaryawan}"
                                        class="hapus-kontak-darurat montserrat-small pusil-btn-danger btn btn-danger text-white btn-rounded">Hapus</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div th:unless="${darurats != null && !darurats.isEmpty()}" class="row">
                        <div class="col text-center">
                            <h3 class="d-inline text-sub text-center mr-2 montserrat-bold-big">Karyawan tidak memiliki</h3>
                            <h3 class="d-inline text-value text-center montserrat-bold-big">kontak darurat</h3>
                            <h3 class="d-inline text-sub text-center ml-2 montserrat-bold-big">pada sistem</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="nav-data-pendidikan" role="tabpanel" aria-labelledby="nav-data-pendidikan">
                <h1 th:if="${!isEmployeeSelected && !isHR}" class="alert alert-danger"> You Cannot View This Content</h1>
                <!-- gunakan th:if="${isEmployeeSelected || isHR}" untuk menampilkan -->
            </div>
            <div class="tab-pane fade show" id="nav-data-keluarga" role="tabpanel" aria-labelledby="nav-data-keluarga">
                <h1 th:if="${!isEmployeeSelected && !isHR}" class="alert alert-danger"> You Cannot View This Content</h1>
                <!-- gunakan th:if="${isEmployeeSelected || isHR}" untuk menampilkan -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-tambah-keluarga">
                    <i class="fas fa-plus" style="font-size: 15px;"></i> Tambah Anggota Keluarga
                </button>

                <table class="table table-hover mt-3">
                    <thead style="background-color: #FFCF25;">
                        <tr>
                            <th class="montserrat-small-bold" scope="col">No.</th>
                            <th class="montserrat-small-bold" scope="col">Hubungan</th>
                            <th class="montserrat-small-bold" scope="col">Nama</th>
                            <th class="montserrat-small-bold" scope="col">NIK</th>
                            <th class="montserrat-small-bold" scope="col">Tanggal Lahir</th>
                            <th class="montserrat-small-bold" scope="col">Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        <div th:each="keluarga,iterationStatus: ${keluarga}">
                            <tr>
                                <td class="montserrat-small" scope="row" th:text="${iterationStatus.count}" width="1%"></td>
                                <td class="montserrat-small" th:text="${keluarga.hubungan}" width="15%"></td>
                                <td class="montserrat-small" th:text="${keluarga.nama}" width="25%"></td>
                                <td class="montserrat-small" th:text="${keluarga.nik}" width="25%"></td>
                                <td class="montserrat-small" th:text="${keluarga.tanggalLahir}" width="19%"></td>
                                <td width="15%">
                                    <a data-toggle="modal" data-target="#modal-ubah-anggota-keluarga" data-title="Ubah Anggota Keluarga" th:attr="data-id=${keluarga.id},data-idKaryawan=${keluarga.idKaryawan},data-hubungan=${keluarga.hubungan},data-nama=${keluarga.nama}, data-nik=${keluarga.nik}, data-tanggalLahir=${keluarga.tanggalLahir}
                                    " th:title="Ubah" class="btn-ubah-anggota-keluarga d-inline pusil-btn btn btn-dark montserrat-small text-white btn-rounded"
                                        style="padding: 5px 10px;">
                                        <i class="fas fa-pencil-alt" style="font-size: 15px;"></i>
                                    </a>


                                    <a data-toggle="tooltip" data-placement="bottom" th th:title="Hapus" th:href="'/employee/detail-karyawan/hapus/'+ ${keluarga.idKaryawan} + '/' + ${keluarga.id}"
                                        class="btn btn-danger montserrat-small text-white btn-rounded" style="padding: 5px 10px;">
                                        <i class="fas fa-trash-alt" style="font-size: 15px;"></i>
                                    </a>
                                </td>
                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>

            <div class="modal fade" id="modal-tambah-keluarga">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Tambah Anggota Keluarga</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <form th:action="'/employee/detail-karyawan/' + ${karyawan.getIdKaryawan()}  + '/insert-keluarga'" method="POST">
                            <div class="form-body">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label class="col-form-label">Hubungan :</label>
                                        <input type="text" class="form-control" name="hubungan" required />
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Nama :</label>
                                        <input type="text" class="form-control" name="nama" required />
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">NIK :</label>
                                        <input type="number" class="form-control" name="nik" required />
                                    </div>
                                    <div class="form-group">
                                        <label class="col-form-label">Tanggal Lahir :</label>
                                        <input type="date" class="form-control" name="tanggalLahir" required />
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded">Tambah Anggota Keluarga</button>
                                <button type="button" class="montserrat-small btn btn-dark btn-rounded" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


            <div class="tab-pane fade show" id="nav-data-gaji" role="tabpanel" aria-labelledby="nav-data-gaji">
                <h1 th:if="${!isEmployeeSelected && !isHR}" class="alert alert-danger"> You Cannot View This Content</h1>

                <div th:if="${isEmployeeSelected || isHR}">
                    <div class="row">
                        <div class="col-3">
                            <h2 class="text-center montserrat-bold-big">List Riwayat Gaji</h2>
                        </div>
                        <div class="col-6"></div>
                        <button th:if="${isHR}" type="button" class="pusil-btn btn btn-primary btn-rounded montserrat-small" data-toggle="modal"
                            data-target="#modal-tambah-gaji">
                            + Ubah Gaji
                        </button>
                    </div>

                    <hr/>
                    <div th:if="${listRiwayatGaji.isEmpty()}" class="row">
                        <div class="col text-center">
                            <h3 class="d-inline text-sub text-center mr-2 montserrat-bold-big">Karyawan tidak memiliki</h3>
                            <h3 class="d-inline text-value text-center montserrat-bold-big">riwayat gaji</h3>
                            <h3 class="d-inline text-sub text-center ml-2 montserrat-bold-big">pada sistem</h3>
                        </div>
                    </div>
                    <div th:if="${!listRiwayatGaji.isEmpty()}">
                        <table class="table table-hover">
                            <thead class="tabel-header">
                                <tr>
                                    <th class="montserrat-small-bold text-center" scope="col">No.</th>
                                    <th class="montserrat-small-bold text-center" scope="col">Tanggal Aktif</th>
                                    <th class="montserrat-small-bold text-center" scope="col">Nilai Gaji</th>
                                    <th th:if="${isHR}" class="montserrat-small-bold text-center" scope="col">Aksi</th>
                                </tr>
                            </thead>
                            <!-- th:each="karyawanCuti, iterationStatus: ${listOfKaryawanCuti}" -->
                            <div th:each="riwayatGaji, iterationStatus: ${listRiwayatGaji}">
                                <tr>
                                    <td class="text-center">
                                        <p class="d-inline montserrat-small text-muted" th:text="${iterationStatus.count}">No</p>
                                    </td>
                                    <td class="text-center">
                                        <p class="d-inline montserrat-small text-muted" th:text="${riwayatGaji.tanggalAktif}">Tanggal Aktif</p>
                                    </td>
                                    <td class="text-center">
                                        <p class="d-inline montserrat-small text-muted" th:text="${riwayatGaji.nilaiGaji}">Nilai Gaji</p>
                                    </td>
                                    <td class="text-center" th:if="${isHR}">
                                        <button class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded btn-update-gaji" th:attr="data-idGaji=${riwayatGaji.id},data-idKaryawan=${karyawan.getIdKaryawan()}, data-gaji=${riwayatGaji.nilaiGaji}">Ubah</button>
                                        <button class="montserrat-small btn btn-dark text-white btn-rounded btn-delete-gaji" th:attr="data-idGaji=${riwayatGaji.id},data-idKaryawan=${karyawan.getIdKaryawan()}">Hapus</button>
                                    </td>
                                </tr>
                            </div>
                        </table>
                    </div>
                </div>
                <!-- gunakan boolean isHR agar disabled -->
            </div>

            <div class="tab-pane fade show" id="nav-data-benefit" role="tabpanel" aria-labelledby="nav-data-benefit">
                <h1 th:if="${!isEmployeeSelected && !isHR}" class="alert alert-danger"> You Cannot View This Content</h1>
                <!-- gunakan th:if="${isEmployeeSelected || isHR}" untuk menampilkan -->
                <!-- gunakan boolean isHR agar disabled -->
                <input type="text" name="" id="" th:disabled="${!isHR}">
            </div>

            <div class="tab-pane fade show" id="nav-data-kontrak" role="tabpanel" aria-labelledby="nav-data-kontrak">
                <h1 th:if="${!isEmployeeSelected && !isHR}" class="alert alert-danger"> You Cannot View This Content</h1>
                <!-- gunakan th:if="${isEmployeeSelected || isHR}" untuk menampilkan -->
                <!-- gunakan boolean isHR agar disabled -->
                <input type="text" name="" id="" th:disabled="${!isHR}">
            </div>
        </div>

        <div class="modal fade" id="tambahKontakModal" tabindex="-1" role="dialog" aria-labelledby="tambahKontakModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title montserrat-med-bold" id="tambahKontakModalLabel">Tambah Kontak Darurat</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="/employee/tambah-kontak" method="post">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="namaKontak" class="col-form-label montserrat-small">Nama Kontak</label>
                                <input id="namaKontak" class="form-control" name="namaKontak" required/>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-6">
                                        <label for="hubungan" class="col-form-label montserrat-small">Hubungan</label>
                                        <input class="form-control" id="hubungan" name="hubungan" required />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="nomorTelepon" class="col-form-label montserrat-small">Nomor Telepon</label>
                                        <input class="form-control" id="nomorTelepon" name="nomorTelepon" required />
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" th:value="${karyawan.idKaryawan}" name="idKar" />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="montserrat-small pusil-btn-danger btn btn-danger text-white btn-rounded" data-dismiss="modal">Batal</button>
                            <button type="submit" class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded">Tambah</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>
    <div class="modal fade" id="modal-tambah-gaji">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Ubah Gaji</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <form id="form-tambah-gaji" th:action="'/employee/detail-karyawan/' + ${karyawan.getIdKaryawan()} + '/insert-gaji'" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="gaji" class="col-form-label">Gaji :</label>
                            <input type="number" class="form-control" id="gaji" name="gaji" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded">Tambah Gaji</button>
                        <button type="button" class="montserrat-small btn btn-dark btn-rounded" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-update-gaji">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Ubah Gaji</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <form id="form-update-gaji" method="POST">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="gaji" class="col-form-label">Gaji :</label>
                            <input type="number" class="form-control" id="input-gaji" name="gaji" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded">Update Gaji</button>
                        <button type="button" class="montserrat-small btn btn-dark btn-rounded" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-delete-gaji">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Hapus Riwayat Gaji</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <form id="form-delete-gaji" method="GET">
                    <div class="modal-body">
                        <div class="form-group">
                            <h5>Apakah anda yakin untuk menghapus riwayat gaji ini?</h5>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded">Hapus Gaji</button>
                        <button type="button" class="montserrat-small btn btn-dark btn-rounded" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-update-status">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Update Status</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <form id="form-update-status" method="GET">
                    <div class="modal-body">
                        <div class="form-group">
                            <h5 id="text-konfirmasi-status"></h5>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded" id="ubah-konfirmasi-status"></button>
                        <button type="button" class="montserrat-small btn btn-dark btn-rounded" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>


<div class="modal fade" id="modal-ubah-anggota-keluarga" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="form-ubah-anggota-keluarga" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="hubungan" class="col-form-label">Hubungan :</label>
                        <input type="text" class="form-control" id="hubungan" name="hubungan" />
                    </div>
                    <div class="form-group">
                        <label for="nama" class="col-form-label">Nama :</label>
                        <input type="text" class="form-control" id="nama" name="nama" />
                    </div>
                    <div class="form-group">
                        <label for="nik" class="col-form-label">NIK :</label>
                        <input type="text" class="form-control" id="nik" name="nik" />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Tanggal Lahir:</label>
                        <input type="date" class="form-control" id="tanggal-lahir" name="tanggalLahir" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded">Ubah</button>
                    <button type="button" class="montserrat-small btn btn-dark btn-rounded" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="ubahKontakDaruratModal" tabindex="-1" role="dialog" aria-labelledby="ubahKontakDaruratModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title montserrat-med-bold" id="ubahKontakDaruratModalLabel">Ubah Kontak Darurat</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/employee/ubah-kontak-darurat" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nama-kontak-darurat" class="col-form-label montserrat-small">Nama</label>
                        <input id="nama-kontak-darurat" class="form-control" name="namaKontak" required/>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="hubungan-kontak" class="col-form-label montserrat-small">Hubungan</label>
                                <input class="form-control" id="hubungan-kontak" name="hubunganKontak" required />
                            </div>
                            <div class="col-md-6">
                                <label for="nomor-tlp" class="col-form-label montserrat-small">Nomor Telepon</label>
                                <input class="form-control" id="nomor-tlp" name="nomorTelepon" required />
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="id-kar" name="idKaryawan">
                    <input type="hidden" id="id-kontak" name="idKontak">
                </div>
                <div class="modal-footer">
                    <button type="button" class="montserrat-small pusil-btn-danger btn btn-danger text-white btn-rounded" data-dismiss="modal">Batal</button>
                    <button type="submit" class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded">Ubah Kontak</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="konfirmHapusDaruratModal" tabindex="-1" role="dialog" aria-labelledby="konfirmHapusDaruratModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="konfirmHapusDaruratModalLabel">Konfirmasi</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="montserrat-small">
                    Apakah anda yakin ingin menghapus data kontak darurat?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="montserrat-small pusil-btn-danger btn btn-danger text-white btn-rounded" data-dismiss="modal">Batal</button>
                <form action="/employee/hapus-kontak-darurat" method="post">
                    <input type="hidden" id="idkontak" name="idKontak">
                    <input type="hidden" id="idkar" name="idKaryawan">
                    <button type="submit" class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded">Hapus Kontak</button>
                </form>
            </div>
        </div>
    </div>
</div>

</html>