<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: header-title">
</head>
<body id="index-body">
<div th:replace="fragments/fragment :: navbar-employee"></div>
<div th:replace="fragments/fragment :: sidebar"></div>
<div th:replace="fragments/fragment :: absen-modals"></div>

<main id="content-isi" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 pb-3 text-center">
    <div class="content cover-container d-flex p-3 mx-auto flex-column">
        <main class="mt-auto mb-auto inner cover" role="main">
            <h1 class="judul montserrat-bold">SISDM</h1>
            <h1 class="judul montserrat-bold">MODUL <span class="white">KARYAWAN</span></h1>
            <br>
            <h1 class="montserrat-regular">PUSILKOM UI</h1>
            <hr>
            <p class="montserrat-small">Selamat Datang di SISDM Modul Karyawan Pusilkom UI</p>
        </main>
    </div>
</main >

<div th:replace="fragments/fragment :: footer"></div>


</body>
</html>