<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: header-title">
</head>
<body>
<div th:replace="fragments/fragment :: navbar-employee"></div>
<div th:replace="fragments/fragment :: sidebar-employee"></div>
<div th:replace="fragments/fragment :: absen-modals"></div>

<main id="content-isi" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 pb-3">
    <div class="d-flex flex-row mb-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="roboto breadcrumb-item active" aria-current="page">
                    <a th:href="'/employee/beranda'">Beranda</a>
                </li>
                <li class="roboto breadcrumb-item active" aria-current="page">Rekap Absen</li>
            </ol>
        </nav>
        <h2 class="ml-auto roboto" th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy')}"></h2>
    </div>

    <h2 class="montserrat-bold-big">Riwayat Absen</h2><hr/>
    <div class="d-flex flex-row mb-2 ml-5">
        <form th:action="'/employee/hr/select-karyawan'" method="post">
            <label class="montserrat-med-bold">Nama Pegawai</label>
            <div class="form-row mb-5">
                <div class="col">
                    <select class="custom-select custom-select-md mb-3" name="idKaryawan">
                        <option value="0">Lihat Semua Absen</option>
                        <div th:each="karyawan,iterationStatus: ${karyawans}">
                            <option th:value="${karyawan.idKaryawan}" th:text="${karyawan.namaLengkap}"></option>
                        </div>
                    </select>
                </div>
                <div class="col">
                    <button type="submit" class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded" name="action">Pilih Karyawan</button>
                </div>
            </div>
        </form>
    </div>
    <div th:if="${karyawan!=null}">
        <h2 class="montserrat-bold-big" th:text="${karyawan.getNamaLengkap()}"></h2>
    </div>
    <hr/>
    <br/>
    <div class="row">
        <div class="col text-left">
            <div th:if="${previous != null}">
                <a class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded" th:href="@{'/employee/hr/rekap-absen'(periode=${previous.month + ' ' + previous.year})}" th:text="${previous.month + ' ' + previous.year}"></a>
            </div>
        </div>
        <div class="col text-center">
            <div th:if="${current != null}">
                <h3 th:text="${current.month + ' ' + current.year}" class="montserrat-med-bold">Current Periode</h3>
                <form action="#" th:action="@{/employee/hr/rekap-absen}" method="get">
                    <input name="periode" id="periode" class="date-picker form-rounded form-control" readonly="readonly" style="background-color: transparent;"/>
                    <br/>
                    <input class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded" type="submit" value="Pilih Periode" />
                </form>
            </div>
        </div>
        <div class="col text-right">
            <div th:if="${next != null}">
                <a class="montserrat-small pusil-btn btn text-white btn-rounded" th:href="@{'/employee/hr/rekap-absen'(periode=${next.month + ' ' + next.year})}" th:text="${next.month + ' ' + next.year}"></a>
            </div>
            <div th:if="${next == null}">
                <a class="montserrat-small btn text-white btn-rounded disabled" th:text="${invalidMonth.month + ' ' + invalidMonth.year}"></a>
            </div>
        </div>
    </div>

    <br/>

    <div th:if="${absens != null && !absens.isEmpty()}">

        <table id="rekap-absen" class="table-mpp table table-hover">
            <thead class="tabel-header">
            <tr>
                <th th:if="${karyawan == null}" class="montserrat-small-bold text-center">Nama</th>
                <th class="montserrat-small-bold text-center">Waktu Check-in</th>
                <th class="montserrat-small-bold text-center">Waktu Check-out</th>
                <th class="montserrat-small-bold text-center">Durasi</th>
                <th class="montserrat-small-bold text-center">Detail</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="absen,iterationStatus: ${absens}">
                <td th:if="${karyawan == null}" class="text-center montserrat-small" th:text="${absenKaryawan.get(absen.id)}"></td>
                <td class="text-center montserrat-small" th:text="${absen.getCheckInTime()}"></td>
                <td th:if="${absen.getCheckOutTime() != null}" class="text-center montserrat-small" th:text="${absen.getCheckOutTime()}"></td>
                <td th:unless="${absen.getCheckOutTime() != null}" class="text-center text-muted montserrat-small">Belum Check-out</td>
                <td class="text-center montserrat-small" th:text="${absen.getAbsenInterval()}"></td>
                <td class="text-center montserrat-small" th:text="${absen.getDetail()}"></td>
            </tr>
            </tbody>
        </table>
        <br/>
    </div>
    <div th:unless="${absens != null && !absens.isEmpty()}" class="row">
        <br/><br/>
        <div class="col-2"></div>
        <div class="col-8 text-center">
            <h3 class="d-inline text-sub text-center mr-2 montserrat">Karyawan tidak memiliki</h3>
            <h3 class="d-inline text-value text-center montserrat">kehadiran</h3>
            <h3 class="d-inline text-sub text-center ml-2 montserrat">pada periode ini</h3>
        </div>
        <div class="col-2"></div>
        <br/><br/><br/>
    </div>

</main >

<script type="text/javascript">
    $(function() {
        $('.date-picker').datepicker( {
            changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
            dateFormat: 'MM yy',
            onClose: function(dateText, inst) {
                $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
            }
        });
    });
</script>
<style>
    .ui-datepicker-calendar {
        display: none;
    }
</style>

<div th:replace="fragments/fragment :: footer"></div>

</body>
</html>