<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: header-title">
</head>
<body>
    <div th:replace="fragments/fragment :: navbar"></div>
    <div th:replace="fragments/fragment :: sidebar"></div>

    <main id="content-isi" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 pb-3">
        <div class="d-flex flex-row mb-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="roboto breadcrumb-item active" aria-current="page">
                        <a th:href="'/assignment/eksekutif'">Beranda</a>
                    </li>
                </ol>
            </nav>
            <h2 class="ml-auto roboto" th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy')}"></h2>
        </div>

        <h2 class="montserrat-bold-big">Rekap Penugasan</h2><hr/>

        <div class="row">
            <div class="col text-left">
                <div th:if="${previous != null}">
                    <a class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded" th:href="@{'/assignment/eksekutif'(periode=${previous.month + ' ' + previous.year})}" style="height:40px; width:160px;"><p th:text="${previous.month + ' ' + previous.year}"></p></a>
                </div>
            </div>
            <div class="col text-center">
                <div th:if="${current != null}">
                    <h3 th:text="${current.month + ' ' + current.year}" class="montserrat-med-bold">Current Periode</h3>
                    <form action="#" th:action="@{/assignment/eksekutif}" method="get">
                        <input name="periode" id="periode" class="date-picker form-rounded form-control" readonly="readonly" />
                        <input class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded" type="submit" value="Pilih Periode" />
                    </form>
                </div>
            </div>
            <div class="col text-right">
                <div th:if="${next != null}">
                    <a class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded" th:href="@{'/assignment/eksekutif'(periode=${next.month + ' ' + next.year})}" style="height:40px; width:160px;"><p th:text="${next.month + ' ' + next.year}"></p></a>
                </div>
            </div>
        </div>

        <br/><br/><br/>

        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active montserrat-small-bold" id="nav-matriks-penugasan-tab" data-toggle="tab" href="#nav-matriks-penugasan" role="tab" aria-controls="nav-matriks-penugasan" aria-selected="true">Matriks Penugasan</a>
                <a class="nav-item nav-link montserrat-small-bold" id="nav-rekap-persen-tab" data-toggle="tab" href="#nav-rekap-persen" role="tab" aria-controls="nav-rekap-persen" aria-selected="false">Rekap Beban Kerja</a>
                <a class="nav-item nav-link montserrat-small-bold" id="nav-rekap-nilai-tab" data-toggle="tab" href="#nav-rekap-nilai" role="tab" aria-controls="nav-rekap-nilai" aria-selected="false">Rekap Nilai</a>
            </div>
        </nav>

        <br><br>

        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-matriks-penugasan" role="tabpanel" aria-labelledby="nav-matriks-penugasan">
                <h2 class="text-center montserrat-bold-big">Matriks Penugasan</h2>
                <table id="rekap-eksekutif" class="table-matrix table table-hover">
                    <thead>
                    <tr>
                        <th style="background-color: #FFCF26;">Karyawan</th>
                        <th style="background-color: #FFCF26;" class="text-center">Total</th>
                        <th style="background-color: #FFCF26;" class="text-center" th:each="proyek,iterationStatus: ${proyekList}" ><a th:text="${proyek.kode}" th:href="${'/assignment/rekap/proyek/' + proyek.id}"></a></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="map,iterationStatus: ${mapping}">
                        <th style="background-color: #FFCF26;"><a th:text="${map.karyawan.nama}" th:href="${'/assignment/rekap/karyawan/riwayat/' + map.karyawan.id}">Nama Karyawan</a></th>
                        <td class="text-center" th:text="${map.total + '%'}" th:style="|color: rgb(${map.red}, ${map.green}, 0);|"></td>
                        <td class="text-center" th:each="rekap,iterationStatus: ${map.rekapList}">
                            <p th:text="${rekap.persentase + '%'}" data-toggle="tooltip" th:title="${roles.get(rekapRoleMap.get(rekap.id))}" data-placement="bottom"></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade show" id="nav-rekap-persen" role="tabpanel" aria-labelledby="nav-rekap-persen">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <canvas id="myChart" width="100" height="100"></canvas>
                    </div>
                    <div class="col-sm-4">
                        <div style="margin-top: 33%; padding-left: 5%;">
                            <h6>Rata-rata beban kerja</h6>
                            <h1 th:text="${totalPercentage + '%'}" style="font-size: 80px;">0%</h1>
                            <div th:style="|height: 10px;width: 400px; background-color: rgb(${totalRed}, ${totalGreen}, 0);|"></div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <h3 class="montserrat-med-bold">Beban Kerja 6 Periode Terakhir</h3><hr/>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <canvas id="chartBebanKerja" width="350" height="150"></canvas>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <div class="tab-pane fade show" id="nav-rekap-nilai" role="tabpanel" aria-labelledby="nav-rekap-nilai">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <!--<canvas id="nilaiChart" width="100" height="100"></canvas>-->
                    </div>
                    <div class="col-sm-4">
                        <div style="margin-top: 33%; padding-left: 5%;">
                            <h6>Rata-rata nilai</h6>
                            <img th:if="${allAvgRating==0}" class="d-inline icon-eksekutif" src="/img/black-star.png">
                            <img th:if="${allAvgRating>0 && allAvgRating<=60}" class="d-inline icon-eksekutif" src="/img/bronze-star.png">
                            <img th:if="${allAvgRating>60 && allAvgRating<=80}" class="d-inline icon-eksekutif" src="/img/silver-star.png">
                            <img th:if="${allAvgRating>80 && allAvgRating<=100}" class="d-inline icon-eksekutif" src="/img/gold-star.png">
                            <h1 class="d-inline" th:text="${allAvgRating}" style="font-size: 80px;">0%</h1>
                            <br/>
                            <!--<div th:if="${allAvgRating==0}">-->
                                <!--<img class="d-inline icon-eksekutif" src="/img/black-star.png">-->
                                <!--<h1 class="d-inline" th:text="${allAvgRating}" style="font-size: 80px;">0%</h1>-->
                            <!--</div>-->
                            <!--<div th:if="${allAvgRating>0 && allAvgRating<=60}">-->
                                <!--<img class="d-inline icon-eksekutif" src="/img/bronze-star.png">-->
                                <!--<h1 class="d-inline" th:text="${allAvgRating}" style="font-size: 80px;">0%</h1>-->
                            <!--</div>-->
                            <!--<div th:if="${allAvgRating>60 && allAvgRating<=80}" class="montserrat-small text-center text-value">-->
                                <!--<h1 class="d-inline" th:text="${allAvgRating}" style="font-size: 80px;">0%</h1>-->
                                <!--<img class="d-inline icon-eksekutif" src="/img/silver-star.png">-->
                            <!--</div>-->
                            <!--<div th:if="${allAvgRating>80 && allAvgRating<=100}" class="montserrat-small text-center text-value">-->
                                <!--<img class="d-inline icon-eksekutif" src="/img/gold-star.png">-->
                                <!--<h1 class="d-inline" th:text="${allAvgRating}" style="font-size: 80px;">0%</h1>-->
                            <!--</div>-->
                            <div th:style="|height: 10px;width: 400px; background-color: rgb(${totalGreen}, ${totalRed}, 0);|"></div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <br/><br/>
                <h3 class="montserrat-med-bold">Nilai 6 Periode Terakhir</h3><hr/>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-10">
                        <canvas id="chartNilaiKaryawan" width="350" height="150"></canvas>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
        </div>

        <br/><br/><hr/><br/><br/>




        <script th:inline="javascript">
            /*<![CDATA[*/
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ["0% - 20%", "21% - 40%", "41% - 60%", "61% - 80%", "81% - 100%"],
                    datasets: [{
                        label: 'Jumlah karyawan',
                        data: /*[[${chartValue}]]*/ [],
                        backgroundColor: [
                            'rgb(0, 225, 0)',
                            'rgb(179, 229, 0)',
                            'rgb(255, 250, 0)',
                            'rgb(216, 126, 0)',
                            'rgb(216, 0, 0)'
                        ],
                        borderColor: [
                            'rgb(0, 225, 50)',
                            'rgb(179, 229, 50)',
                            'rgb(255, 250, 50)',
                            'rgb(216, 126, 50)',
                            'rgb(216, 0, 50)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                }
            });
            /*]]>*/


        </script>
    </main >

    <script type="text/javascript">
        $(function() {
            $('.date-picker').datepicker( {
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'MM yy',
                onClose: function(dateText, inst) {
                    $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
                }
            });
        });
    </script>

    <style>
        .ui-datepicker-calendar {
            display: none;
        }
    </style>


    <script th:inline="javascript">
        /*<![CDATA[*/

        var ctx = document.getElementById("chartBebanKerja").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [[${chartLabel}]],
                datasets: [
                    {
                        data: [[${AllBebanKerja}]],
                        label: "Nilai Per Periode",
                        borderColor: "blue",
                        fill: false
                    }
                ]
            },
            options: {}
        });
        /*]]>*/
    </script>


    <script th:inline="javascript">
        /*<![CDATA[*/

        var ctx = document.getElementById("chartNilaiKaryawan").getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [[${chartLabel}]],
                datasets: [
                    {
                        data: [[${chartValueNilai}]],
                        label: "Nilai Per Periode",
                        borderColor: "blue",
                        fill: false
                    }
                ]
            },
            options: {}
        });
        /*]]>*/
    </script>

    <div th:replace="fragments/fragment :: footer"></div>
</body>
</html>