<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragment :: header-title-employee">
</head>

<body>
    <div th:replace="fragments/fragment :: navbar-employee"></div>
    <div th:replace="fragments/fragment :: sidebar"></div>

    <main id="content-isi" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 pb-3 pl-3 pr-3">
        <div class="d-flex flex-row mb-2">
            <table id="tabel-anggota-divisi" class="table table-hover">
                <thead class="tabel-header">
                    <tr>
                        <th class="montserrat-small-bold" scope="col">Nama Anggota</th>
                        <th class="montserrat-small-bold" scope="col">Jumlah Hari</th>
                        <th class="montserrat-small-bold" scope="col">Periode Mulai</th>
                        <th class="montserrat-small-bold" scope="col">Periode Selesai</th>
                        <th class="montserrat-small-bold" scope="col">Status Permohonan Cuti</th>
                    </tr>
                </thead>
                <div th:each="karyawanCuti, iterationStatus: ${listOfKaryawanCuti}">
                    <tr>
                        <td>
                            <a class="montserrat-small" th:text="${karyawanCuti.getNamaLengkap()}" th:href="'/employee/detail-karyawan/' + ${karyawanCuti.getIdKaryawan()}"></a>
                        </td>
                        <td>
                            <p class="d-inline montserrat-small text-muted" th:text="${karyawanCuti.getJumlahHari()}"></p>
                        </td>
                        <td>
                            <p class="d-inline montserrat-small text-muted" th:text="${karyawanCuti.getStartPeriode()}"></p>
                        </td>
                        <td>
                                <p class="d-inline montserrat-small text-muted" th:text="${karyawanCuti.getEndPeriode()}"></p>
                            </td>
                        <td>
                            <div th:if="${karyawanCuti.isDisetujui()}">
                                <p class="d-inline montserrat-small text-muted">Sudah Disetujui</p>
                            </div>
                            <div th:if="${!karyawanCuti.isDisetujui()}">
                                <p class="d-inline montserrat-small text-muted">Belum Disetujui</p>
                            </div>
                        </td>
                    </tr>
                </div>
            </table>
        </div>
    </main>
</body>

</html>