<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: header-title">
</head>
<body>
    <div th:replace="fragments/fragment :: navbar"></div>
    <div th:replace="fragments/fragment :: sidebar"></div>

    <main id="content-isi" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 pb-3">
        <div class="d-flex flex-row mb-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="roboto breadcrumb-item active" aria-current="page">
                        <a th:href="'/eksekutif'">Beranda</a>
                    </li>
                </ol>
            </nav>
            <h2 class="ml-auto roboto" th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy')}"></h2>
        </div>

        <h2 class="montserrat-bold-big">Rekap Penugasan</h2><hr/>

        <div class="row">
            <div class="col text-left">
                <div th:if="${previous != null}">
                    <a class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded" th:href="@{'/eksekutif'(periode=${previous.month + ' ' + previous.year})}" style="height:40px; width:160px;"><p th:text="${previous.month + ' ' + previous.year}"></p></a>
                </div>
            </div>
            <div class="col text-center">
                <div th:if="${current != null}">
                    <h3 th:text="${current.month + ' ' + current.year}" class="montserrat-med-bold">Current Periode</h3>
                    <form action="#" th:action="@{/eksekutif}" method="get">
                        <input name="periode" id="periode" class="date-picker form-rounded form-control" readonly="readonly" />
                        <input class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded" type="submit" value="Pilih Periode" />
                    </form>
                </div>
            </div>
            <div class="col text-right">
                <div th:if="${next != null}">
                    <a class="montserrat-small pusil-btn btn btn-dark text-white btn-rounded" th:href="@{'/eksekutif'(periode=${next.month + ' ' + next.year})}" style="height:40px; width:160px;"><p th:text="${next.month + ' ' + next.year}"></p></a>
                </div>
            </div>
        </div>

        <br/><br/><br/>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <canvas id="myChart" width="100" height="100"></canvas>
            </div>
            <div class="col-sm-4">
                <div style="margin-top: 33%; padding-left: 5%;">
                    <h6>Rata-rata beban kerja</h6>
                    <h1 th:text="${totalPercentage + '%'}" style="font-size: 80px;">0%</h1>
                    <div th:style="|height: 10px;width: 400px; background-color: rgb(${totalRed}, ${totalGreen}, 0);|"></div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <br/><br/><hr/><br/><br/>

        <h3 class="montserrat-med-bold text-center">Matriks Penugasan</h3>
        <table id="rekap-eksekutif" class="table-matrix table table-hover">
            <thead>
            <tr>
                <th style="background-color: #FFCF26;">Karyawan</th>
                <th style="background-color: #FFCF26;" class="text-center">Total</th>
                <th style="background-color: #FFCF26;" class="text-center" th:each="proyek,iterationStatus: ${proyekList}" ><a th:text="${proyek.kode}" th:href="${'/rekap/proyek/' + proyek.id}"></a></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="map,iterationStatus: ${mapping}">
                <th style="background-color: #FFCF26;"><a th:text="${map.karyawan.nama}" th:href="${'/rekap/karyawan/riwayat/' + map.karyawan.id}">Nama Karyawan</a></th>
                <td class="text-center" th:text="${map.total + '%'}" th:style="|color: rgb(${map.red}, ${map.green}, 0);|"></td>
                <td class="text-center" th:each="rekap,iterationStatus: ${map.rekapList}">
                    <p th:text="${rekap.persentase + '%'}" data-toggle="tooltip" th:title="${roles.get(rekapRoleMap.get(rekap.id))}" data-placement="bottom"></p>
                    <!--<p th:text="${roles.get(rekapRoleMap.get(rekap.id))}"></p>-->
                </td>
            </tr>
            </tbody>
        </table>


        <script th:inline="javascript">
            /*<![CDATA[*/
            var ctx = document.getElementById("myChart").getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: ["0% - 20%", "21% - 40%", "41% - 60%", "61% - 80%", "81% - 100%"],
                    datasets: [{
                        label: 'Jumlah karyawan',
                        data: /*[[${chartValue}]]*/ [],
                        backgroundColor: [
                            'rgb(0, 225, 0)',
                            'rgb(179, 229, 0)',
                            'rgb(255, 250, 0)',
                            'rgb(216, 126, 0)',
                            'rgb(216, 0, 0)'
                        ],
                        borderColor: [
                            'rgb(0, 225, 50)',
                            'rgb(179, 229, 50)',
                            'rgb(255, 250, 50)',
                            'rgb(216, 126, 50)',
                            'rgb(216, 0, 50)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                }
            });
            /*]]>*/

        </script>
    </main >

    <script type="text/javascript">
        $(function() {
            $('.date-picker').datepicker( {
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'MM yy',
                onClose: function(dateText, inst) {
                    $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
                }
            });
        });
    </script>

    <style>
        .ui-datepicker-calendar {
            display: none;
        }
    </style>

    <div th:replace="fragments/fragment :: footer"></div>
</body>
</html>