<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:200,700' rel='stylesheet'>
</head>
<body class="text-center">
    <div class="content cover-container d-flex p-3 mx-auto flex-column">
        <main class="mt-auto mb-auto inner cover" role="main">
            <h1 class="judul montserrat-bold">MODUL <span class="white">PENUGASAN</span></h1>
            <h1 class="judul montserrat-bold">DAN <span class="white">PENILAIAN</span></h1>
            <br>
            <h1 class="montserrat-regular">PUSILKOM UI</h1>
            <hr>
            <a href="#" class="btn btn-lg button-login">Login SSO</a>
        </main>
    </div>

    <footer th:fragment="footer" id="pusilkom-footer" class="col-md-12 bg-dark p-2">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img id="footer-pusilkom" alt="pusilkom" src="img/logo-footer-pusilkom-ui-50x56.png">
            </a>
            <span class="text-muted">Copyright © 2018 Pusat Ilmu Komputer Universitas Indonesia (Pusilkom UI)</span>
        </div>
    </footer>

</body>
</html>