<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: header-title">
</head>
<body>
    <div th:replace="fragments/fragment :: navbar"></div>
    <div th:replace="fragments/fragment :: sidebar"></div>

    <main id="content-isi" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 pb-3">
        <div class="d-flex flex-row mb-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="roboto breadcrumb-item active" aria-current="page">
                        <a th:href="'/eksekutif'">Beranda</a>
                    </li>
                    <li class="roboto breadcrumb-item active" aria-current="page">Rekap Karyawan</li>
                </ol>
            </nav>
            <h2 class="ml-auto roboto" th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy')}"></h2>
        </div>

        <h2 class="montserrat-bold-big">Rekap Karyawan</h2><hr/>

        <div th:if="${karyawan != null}">
            <div>
                <div class="row karyawan-rekap-div" style="margin-top:0;">
                    <div class="col-sm-3">
                        <h3 th:text="${karyawan.nama}">Nama Karyawan</h3>
                    </div>
                    <div class="col-sm-3 text-right">
                        <div class="row">
                            <div class="col text-center"><h5 class="text-sub">Beban kerja saat ini</h5></div>
                        </div>
                        <div class="row">
                            <div class="col text-center"><h3 th:text="${persentaseKontribusi + '%'}">Beban kerja saat ini</h3></div>
                        </div>
                    </div>
                    <div class="col-sm-3 text-right">
                        <div class="row">
                            <div class="col text-center"><h5 class="text-sub">Jumlah proyek total</h5></div>
                        </div>
                        <div class="row">
                            <div class="col text-center"><h3 th:text="${#lists.size(penugasanList)}">Proyek</h3></div>
                        </div>
                    </div>
                    <div class="col-sm-3 text-right">
                        <div class="row text-right"><div class="col text-center"><h5 class="text-sub">Nilai karyawan</h5></div></div>
                        <div class="row text-right"><div class="col text-center"><h3 th:text="${ratingKaryawan}">Rating</h3></div></div>
                    </div>
                </div>

                <br/><br/><br/>

            </div>
            <br/><br/><br/>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active"><h4 class="montserrat-med-bold">Riwayat Proyek</h4></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="${'/rekap/karyawan/feedback/' + karyawan.id}"><h4 class="montserrat-med-bold">Rekap Feedback</h4></a>
                </li>
            </ul>

            <br/>

            <div th:if="${#lists.isEmpty(penugasanList)}">
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8 text-center">
                        <h2 class="d-inline text-sub text-center text-muted montserrat-med mr-2">Karyawan tidak memiliki</h2>
                        <h2 class="d-inline text-value text-center text-muted montserrat-med">penugasan</h2>
                        <h2 class="d-inline text-sub text-center text-muted montserrat-med mr-2">pada proyek</h2>
                    </div>
                    <div class="col-2"></div>
                </div>
            </div>

            <div  th:unless="${#lists.isEmpty(penugasanList)}">
                <table id="rekap-riwayat" class="table-mpp table table-hover">
                    <thead class="tabel-header">
                    <tr>
                        <th class="montserrat-small-bold text-center">Proyek</th>
                        <th class="montserrat-small-bold text-center">Role</th>
                        <th class="montserrat-small-bold text-center">Rata-rata beban kerja</th>
                        <th class="montserrat-small-bold text-center">Status proyek</th>
                        <th class="montserrat-small-bold text-center">Periode</th>
                        <th class="montserrat-small-bold text-center">Nilai (1-100)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="penugasan,iterationStatus: ${penugasanList}">
                        <th><a th:text="${penugasan.kodeProyek + ' (' + penugasan.namaProyek+ ')'}" th:href="${'/rekap/proyek/' + penugasan.idProyek}">Proyek</a></th>
                        <td class="text-center" th:text="${penugasan.role}">Role</td>
                        <td class="text-center" th:text="${penugasan.persentaseKontribusi + '%'}">Rata-rata beban kerja</td>
                        <td class="text-center" th:text="${penugasan.statusProyek}">Status proyek</td>
                        <td class="text-center" th:text="${penugasan.periode}">Periode</td>
                        <td th:if="${penugasan.intRating==0}" class="montserrat-small text-center text-value">
                            <img class="d-inline icon-sidebar mr-2" src="/img/black-star.png">
                            <p class="d-inline montserrat-small text-muted" th:text="${penugasan.intRating}"></p>
                        </td>
                        <td th:if="${penugasan.intRating>0 && penugasan.intRating<=60}" class="montserrat-small text-center text-value">
                            <img class="d-inline icon-sidebar mr-2" src="/img/bronze-star.png">
                            <p class="d-inline montserrat-small text-muted" th:text="${penugasan.intRating}"></p>
                        </td>
                        <td th:if="${penugasan.intRating>60 && penugasan.intRating<=80}" class="montserrat-small text-center text-value">
                            <img class="d-inline icon-sidebar mr-2" src="/img/silver-star.png">
                            <p class="d-inline montserrat-small text-muted" th:text="${penugasan.intRating}"></p>
                        </td>
                        <td th:if="${penugasan.intRating>80 && penugasan.intRating<=100}" class="montserrat-small text-center text-value">
                            <img class="d-inline icon-sidebar mr-2" src="/img/gold-star.png">
                            <p class="d-inline montserrat-small text-muted" th:text="${penugasan.intRating}"></p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br/>
                <div>
                    <div class="d-flex flex-row mb-1">
                        <div class="col text-center">
                            <h3 class="montserrat-small text-muted">
                                Keterangan Rentang Nilai:
                            </h3>
                        </div>
                    </div>
                    <div class="d-flex flex-row mb-1">
                        <div class="col text-center">
                            <h3 class="montserrat-small text-muted">
                                <img class="d-inline icon-sidebar mr-1" src="/img/gold-star.png">: 81-100
                            </h3>
                        </div>
                    </div>
                    <div class="d-flex flex-row mb-1">
                        <div class="col text-center">
                            <h3 class="montserrat-small text-muted">
                                <img class="d-inline icon-sidebar mr-1" src="/img/silver-star.png">: 61-80
                            </h3>
                        </div>
                    </div>
                    <div class="d-flex flex-row mb-1">
                        <div class="col text-center">
                            <h3 class="montserrat-small text-muted">
                                <img class="d-inline icon-sidebar mr-1" src="/img/bronze-star.png">: 1-60
                            </h3>
                        </div>
                    </div>
                    <div class="d-flex flex-row mb-2">
                        <div class="col text-center">
                            <h3 class="montserrat-small text-muted">
                                <img class="d-inline icon-sidebar mr-1" src="/img/black-star.png">: Belum Dinilai
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:unless="${karyawan != null}" class="row">
            <br/><br/>
            <div class="col-2"></div>
            <div class="col-8 text-center">
                <h3 class="d-inline text-sub text-center mr-2 montserrat">Karyawan</h3>
                <h3 class="d-inline text-value text-center montserrat">tidak terdaftar</h3>
                <h3 class="d-inline text-sub text-center ml-2 montserrat">pada sistem</h3>
            </div>
            <div class="col-2"></div>
            <br/><br/><br/>
        </div>

    </main >

    <div th:replace="fragments/fragment :: footer"></div>

</body>
</html>